body {
    background-color: #191B20;
    /* font-family: 'Inria Sans', sans-serif; */
    font-family: 'Inter', sans-serif;;
    margin: 0;
    padding: 0;
}

/* HEADER */
header {
    height: 100px;
    background-color: #141517;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 180px;
    color: white;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Inria Sans', sans-serif;
    gap: 10px;
}

nav .logo {
    display: flex;
    align-items: center;
}

nav .menu {
    display: flex;
    gap: 20px;
}

nav .menu a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 16.79px;
}

nav .burger-menu {
    display: none;
}

/* RESPONSIVE HEADER */
@media screen and (max-width: 800px) {
    header {
        height: auto;
        padding: 20px;
    }

    nav {
        flex-direction: column;
    }

    nav .menu {
        display: none;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding: 20px;
    }

    nav .burger-menu {
        display: block;
        cursor: pointer;
        position: absolute;
        right: 40px;
        top: 30px;
    }  
}

/* LOGO */
.be {
    color: #CC0000;
    font-size: 36px;
    font-weight: 700;
    line-height: 43.16px;
    font-family: 'Inria Sans', sans-serif;

}

.movies {
    color: white;
    font-size: 36px;
    font-weight: 700;
    line-height: 43.16px;
    font-family: 'Inria Sans', sans-serif;
}

/* MAIN */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .search-container {
    width: 272px;
    max-width: 75%;
    margin-top: 73px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar {
    width: 80%;
    height: 44px;
    border-radius: 8px 0 0 8px;
    border: none;
    padding: 0 15px;
    font-size: 16px;
}

.search-button {
    height: 44px;
    background-color: #CC0000;
    color: white;
    border: none;
    border-radius: 0 8px 8px 0;
    padding: 0 15px;
    cursor: pointer;
    font-size: 18px;
}

.results-container {
    margin-top: 1px;
    max-width: 1075px;
    width: 75%;
    height: 380px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 61px;
}

.results-header {
    width: 100%;
    color: white;
    margin-bottom: 10px;
    text-align: left;
    font-weight: 400;
    font-size: 16px;
}

.content, .content-result, .content-latest, .content-genre{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.arrow {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.poster, .poster-result {
    position: relative;
    width: 246.25px;
    height: 351px;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 18px;
    overflow: hidden;
    margin-right: 30px;
    aspect-ratio: 234/351;
    cursor: pointer;
}


.latest-release {
    margin-top: 1px;
    max-width: 1075px;
    width: 75%;
    height: 380px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 95px;
}

.genre {
    margin-top: 1px;
    max-width: 1075px;
    width: 75%;
    height: 519px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 95px;
    padding-bottom: 109px;
}

.genre-header {
    width: 599px;
    max-width: 100%;
    height: 139px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.genre-title {
    font-size: 16px;
    font-weight: 400;
    color: white;
}

.genre-list {
    margin-top: 46px;
    font-size: 16px;
    font-weight: 400;
    color: white;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.genre-list a {
    color: white;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 8px;
    cursor: pointer;
}

.genre-list a:hover {
    background-color: #CC0000;
    border-radius: 8px;
}

.selected {
    background-color: #CC0000;
    border-radius: 8px;
}

.genre-list a:focus {
    background-color: #CC0000;
}

.separator {
    width: 599px;
    max-width: 100%;
    height: 1px;
    background-color: #FFFFFF;
    
}

.genre .results-header {
    padding-top: 29px;
}

@media screen and (max-width: 800px) {
    .genre-header {
        height: auto;
    }

    .genre-list {
        justify-content: center;
    }
    
}

/* FOOTER */
footer {
    height: 186px;
    background-color: #141517;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: auto;
    font-family: 'Inria Sans', sans-serif;
    gap: 10px;
}

.footer-menu {
    display: flex;
    gap: 20px;
    align-items: center;
}

.footer-menu a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 16.79px;
}

.copyright {
    color: #B8B8B8;
    font-size: 14px;
    font-weight: 300;
}

/* RESPONSIVE FOOTER */
@media screen and (max-width: 800px) {
    footer {
        flex-direction: column;
        padding: 20px;
        gap: 25px;
    }
}

/* MOVIES,... */
.movie-year{
    font-weight: 700;
    font-size: 20px;
    line-height: 24.2px;
    color: #B0B0B0;
}

.movie-genre {
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 16.94px;
}

.movie-rating {
    text-align: center;
    font-weight: 700;
    font-size: 32px;
    color: #CC0000;
    line-height: 38.73px;
}

.movie-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 24.2px;
}
.poster:hover .movie {
    opacity: 1;
    transition: opacity 0.3s ease;
}

.poster:hover {
    background-color: rgba(0, 0, 0, 0.6);
}

.movie {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    color: white;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

.movie span {
    display: block;
    margin-bottom: 10px;
}

.movie .movie-rating {
    font-size: 24px;
    color: #CC0000;
}

/* POPUP */
.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 410px; 
    height: 608px; 
    background-color: #000000;
    z-index: 9999;
    padding: 66px 61px;
    box-sizing: border-box;
    border-radius: 8px; 
}

.popup:target {
    display: block;
}

.close-button {
    position: absolute;
    top: 11px;
    left: 14px;
    color: #FFFFFF;
    font-size: 20px;
    text-decoration: none;
    width: 16px;
    height: 16px;
}

.popup-content {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signup-login {
    margin-top: 20px;
    display: flex;
    gap: 1px; 
    justify-content: center;
    width: 100%;
}

.signup {
    display: flex;
    gap: 1px;
    width: 100%;
}

.signup-button, .login-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
    color: #FFFFFF;
    background-color: transparent;
    border: 1px solid #FFFFFF;
    border-radius: 8px;
    transition: opacity 0.3s ease;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 24px;
    padding: 10px;
}

.signup-button:focus, .login-button:focus{
    background-color: #CC0000;
}

.login-button {
    border-radius: 0 8px 8px 0;
    width: 50%;
}

.signup-button {
    border: 1px solid #FFFFFF;
    border-radius: 8px 0 0 8px;
    width: 50%;
}
#signin-popup .login-button, #register-popup .signup-button {
    background-color: #CC0000;
    border: #CC0000;
}

/* .login-button:hover, .signup-button:hover {
    background-color: #CC0000;
    border: #CC0000;
} */

.login-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px; 
    align-items: flex-start;
}

.login-form, .signup-section {
    width: 100%;
    flex-direction: column;
}

.login-section {
    width: 100%;
    flex-direction: column;
}

.input {
    width: 100%;
    height: 44px;
    margin-bottom: 25px;
    border: 1px solid #FFFFFF;
    padding: 0 15px;
    font-size: 16px;
    font-weight: 400;
    color: #000000;
    background-color: #FFFFFF;
    box-sizing: border-box;
    border-radius: 8px;
}

.remember-me {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
    margin-bottom: 20px;
    margin-left: 2px; 
}

.remember-me input[type="checkbox"] {
    margin-right: 10px;
    width: 18px;
    height: 18px;
}

.login-button2 {
    width: 100%;
    height: 44px;
    height: 44px;
    background-color: #CC0000;
    color: white;
    border: none;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    border-radius: 8px;
    justify-content: center;
}

.forgot-password, .signup-text {
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
    margin-left: 2px; 
    margin-top: 19px; 
}

.forgot-password a, .signup-text a {
    color: #CC0000;
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 19.36px;

}

.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    background-color: #000000;
    z-index: 10000;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 8px;
    color: white;
}

.modal:target {
    display: block;
}

/* MOVIE MODAL */
#movie-modal {
    width: 742px;
    overflow-y: auto;
}

.modal-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

@media screen and (max-width: 800px) {
    #movie-modal {
        width: 600px;
        height: 90vh;
    }
    .modal-content {
        flex-direction: column;
        align-items: center;
    }    
}

.modal-left {
    padding: 54px 30px 30px 59px;
}

.modal-left img {
    width: 234px;
    height: auto;
    border: 1px solid white;
}

.modal-right {
    align-items: center;
    padding: 54px 30px 30px;
}

.modal-right h1.modal-title {
    margin-top: 0px;
    text-transform: uppercase;
}

.modal-right p {
    font-size: 16px;
    line-height: 1.5;
}

.modal-title {
    color: #CC0000;
    font-family: 'Inria Sans', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 23.98px;
}

.modal-title img {
    width: 21px;
    height: 21px;
}

.modal-genre-year, .cast{
    font-family: 'Inria Sans', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 16.79px;
}

.modal-genre {
    text-transform: uppercase;
}

.modal-text{
    font-family: 'Inria Sans', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;

}

.close-modal {
    position: absolute;
    top: 11px;
    left: 14px;
    color: #FFFFFF;
    font-size: 24px;
    text-decoration: none;
    cursor: pointer;
}

.close-modal img {
    width: 16px;
    height: 16px;
}

/* SWIPER */
.swiper {
    width: 100%;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-button-prev, .swiper-button-next {
    background-size: contain;
    background-repeat: no-repeat;
    width: 18px;
    height: 18px;
}

.swiper-button-prev {
    background-image: url('vector1.svg');
    left: -50px
}

.swiper-button-next {
    background-image: url('vector2.svg');
    right: -50px;
}

.swiper-button-prev::after, .swiper-button-next::after {
    content: '';
}

/* POSITION SWIPER BUTTONS */
.content-result, .latest-release, .genre {
    position: relative;
}

.latest-release .swiper-button-prev, .latest-release .swiper-button-next {
    top: 63%;
}

.genre .swiper-button-prev, .genre .swiper-button-next {
    top: 64%;
}
